$white: #ffffff;
$black: #111111;

html { font-size : 12px }
body {
  overflow-x : hidden;
  font-size : 0;
  min-width : 350px;
}
.font-en {
  font-family: 'Nanum Barun Gothic', sans-serif;
}
.font-kr {
  font-family: 'Nanum Gothic', sans-serif;
}
*[data-parallax]{
  opacity : 0;
  transition : opacity 2s ease, transform 2s ease;
}
*[data-parallax].top{
  transform : translate(0, -50px);
}
*[data-parallax].left{
  transform : translate(-300px, 0);
}
*[data-parallax].right{
  transform : translate(300px, 0);
}
*[data-parallax].bottom{
  transform : translate(0, 300px);
}
*[data-parallax].view{
  opacity : 1;
  transform : translate(0, 0)!important;
}
.arrow {
  display : inline-block;
  height : 9px;
  padding-right : 4px;
  background : url('../img/mprd_more_arrow.jpg') no-repeat right 0;

}
.next > .arrow em {
  display : block;
  width : 130px;
  height : 9px;
  background : url('../img/mprd_more_arrow_bg.jpg') repeat-x 0 0;
}

nav {
  width: 100%;
  &.active {
    margin-bottom: 96px;
    .fixed-nav {
      position: fixed;
      top: 0px;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.3);
    }
  }

  > div.top-nav {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #E8E8E8;
    > div.wrap {
      width: 75%;
      text-align: right;
      font-size: 0;
    }
    div {
      height: 40px;
      font-size: 1rem;
      line-height: 40px;
      display: inline-block;
    }
    > div.wrap > div.nav-el1 {
      width: 100px;
      text-align: center;
      float: left;
      border-left: 1px solid #E8E8E8;
      border-right: 1px solid #E8E8E8;
      border-bottom: 1px solid $white;
      font-weight: bold;
    }
    div.nav-el3 {
      padding-left: 1rem;
      padding-right: 1rem;
      text-align: center;
    }
  }
  a {
    color: $black;
    text-decoration: none;
  }
  .fixed-nav {
    position: relative;
    height: 96px;
    text-align: center;
    width: 100%;
    background-color: $white;
    transition: box-shadow 1s ease;
    z-index: 100;
    > .wrap {
      width: 75%;
      margin: auto;
       > div {
        display: inline-block;
        &:last-child {
          float: right;
          width: 50%;
          height: 96px;
          line-height: 96px;
          font-size: 0;
          > * {
            display: inline-block;
            height: 96px;
            width: 20%;
            font-size: 1.5rem;
            text-align: center;
            font-weight: bold;
          }
        }
      }
     > .three-line {
        position: absolute;
        right: 30px;
        top: 32px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        > span {
          position: relative;
          display: none;
          &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 5px;
            width: 30px;
            height: 3px;
            background: $black;
            box-shadow: 0 10px 0 0 $black, 0 20px 0 0 $black;
          }
        }
      }
    }
    .logo {
      float: left;
      display: inline-block;
      width: 50%;
      height: 96px;
      font-size: 0;
      text-align: left;
      overflow: hidden;
      > img {
        height: 120%;
      }
    }

    > .hover-nav {
      height: 0px;
      background-color: #EEEEEE;
      overflow: hidden;
      transition: height 1s ease 0s;
      > .wrap {
        width: 75%;
        margin: auto;
        > .gnb_banner > a {
          display: inline-block;
          position: relative;
          width: 100%;
          height: 100%;
          padding: 1rem;
          box-sizing: border-box;
          > img {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
        > .items {
          display: inline-block;
          float: right;
          width: 10%;
          font-size: 1.1rem;
          text-align: center;
        }
      }
      .gnb_banner {
        font-size: 0;
        display: inline-block;
        width: 50%;
        height: 220px;
        overflow: hidden;
        float: left;
      }
    }
    > .hover-nav.view {
     height: 220px;
   }
  }
  .wrap::after {
    content: '';
    display: block;
    clear: both;
  }
}

section .main-one {
  overflow: hidden;

  > .wrap {
    position: relative;
    > .text {
      display: inline-block;
      position: absolute;
      top: 10rem;
      left: 15rem;
      z-index: 1;
      min-width: 250px;
      > div {
        display: inline-block;
        &.big {
          font-size: 5.5rem;
          line-height: 5.5rem;
          margin-left: 3rem;
        }
        &.small {
          font-size: 2rem;
          line-height: 2rem;
          float: left;
          margin-left: 1rem;
        }
      }
      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    > .img {
      overflow: hidden;
      position: relative;
      width: 100%;
      bottom: 0px;
      right: 0px;
      float: right;
      > .main-image {
        width: 100%;
      }
    }
  }


}
.text-lr {
  writing-mode: vertical-lr;
  writing-mode: tb-lr;
}

.text-rl {
  writing-mode: vertical-rl;
  writing-mode: rl-tb;
}
section #visual_prd {
  position: absolute;
  bottom: 40px;
  right: 28%;
}

.main-two {
  padding-top: 50px;
  padding-bottom: 50px;
  > .wrap{
     > div {
    display: inline-block;
    width: 50%;
    text-align: center;
    &:first-child {
      float: left;
    }
    &:last-child {
      float: right;
    }
    > a {
      display: inline-block;
      font-size: 0;
      overflow: hidden;
      height: 100%;
      width: 100%;
      &:hover > img {
        transform: scale(1.1);
        opacity: 1;
      }
      > img {
        display: inline-block;
        width: 100%;
        opacity: 0.8;
        transition: all 1s;
      }
    }
    }
    h2 {
      font-size: 3rem;
      line-height: 3rem;
      padding: 0;
      margin: 1rem;
    }
    h4 {
      font-size: 1.5rem;
      line-height: 1.5rem;
      padding: 0 0 50px 0;
      margin: 1rem;
      font-weight: 400;
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.main-three {
  padding-bottom: 50px;
  overflow: hidden;
  .wrap {
    position: relative;
    > .left {
      display: inline-block;
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding-left: 15%;
      padding-top: 100px;
      background-color: #EEEEEE;
      .button-box {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        > span {
         text-decoration: none;
         margin-right: 40px;
         cursor: pointer;
         > img {
           vertical-align: bottom;
           height: 100%;
         }
       }
      }
      > h4 {
        font-size: 2rem;
        font-weight: 200;
        line-height: 2rem;
        margin-top: 60px;
      }
      > h2 {
        font-size: 40px;
        font-weight: 400;
        line-height: 40px;
        padding-bottom: 200px;
      }
    }
    > .right {
      display: inline-block;
      width: 50%;
      height: 800px;
      float: right;
      overflow: hidden;
      > div {
        height: 100%;
        &[data-img='1'] {
          background-image: url("../img/prd_tab_img01.jpg");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        &[data-img='2'] {
          background-image: url("../img/prd_tab_img02.jpg");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      .don {
        height: 755px;
      }
    }
    &::after {
      content: '';
      display: block;
      clear: both;
    }
    .exp {
      position: absolute;
      top: 350px;
      left: 15%;
      border: 2px solid $black;
      min-width: 800px;
      background-color: $white;
      padding-left: 60px;
      padding-top: 40px;
      box-sizing: border-box;
      z-index: 10;
      > h2 {
        color: #787878;
        font-size: 2rem;
      }
      > h1 {
        font-size: 4rem;
        line-height: 0px;
        padding-left: 20px;
        padding-top: 20px;
        font-weight: 200;
      }
      > .content-box {
        margin-top: 75px;
        margin-bottom: 50px;
        > .prd1 > div {
         display: inline-block;
         width: 30%;
         > img {
           vertical-align: bottom;
         }
         > span {
           display: inline-block;
           font-size: 1.2rem;
           padding: 10px;
           line-height: 1.2rem;
         }
       }
      }
      .next {
        padding-bottom: 50px;
        > p {
          font-size: 1rem;
          color: #787878;
        }
      }
    }
  }
  .tabi01,
  .tabi02 {
    position: relative;
    margin-left: 30px;
    transition: opacity 1s;
    > img {
      position: absolute;
      margin-left: -30px;
      margin-top: 8px;
    }
  }

}
.main-three.off .wrap .exp > .content-box > .prd1 > div > span.doff,
.main-three.off .wrap .exp > .content-box > .prd1 > div > img.doff {
  display: inline-block;
}

.main-three.on .wrap .exp > .content-box > .prd1 > div > span.don,
.main-three.on .wrap .exp > .content-box > .prd1 > div > img.don {
  display: inline-block;
}
.main-three.off .tabi01 > img.off,
.main-three.off .tabi02 > img.on {
  opacity: 0;
}

.main-three.on .tabi01 > img.off,
.main-three.on .tabi02 > img.on {
  opacity: 1;
}

.main-three.on .tabi01 > img.on,
.main-three.on .tabi02 > img.off {
  opacity: 0;
}

.main-three.on .don {
  display: block;
}

.main-three.on .doff {
  display: none !important;
}

.main-three.off .don {
  display: none !important;
}

.main-three.off .doff {
  display: block;
}

.main-three.off .tabi01,
.main-three.on .tabi02 {
  color: #5A7ABC;
}

.main-three.off .tabi02,
.main-three.on .tabi01 {
  color: #ACACAC;
}


.main-four {
  overflow: hidden;
  height: 298px;
  margin-bottom: 100px;
  .wrap {
    background: url("../img/main_onecare_bnr_pc.jpg") no-repeat center 0;
    height: 298px;
    position: relative;
    margin-bottom: 100px;
    > h1 {
      color: #363636;
      position: absolute;
      left: 50%;
      top: 90px;
      transform: translateX(-50%);
      font-size: 2rem;
    }
    > h2 {
      color: #585A7A;
      position: absolute;
      left: 50%;
      top: 120px;
      transform: translateX(-50%);
      font-size: 1.8rem;
    }
    > a {
      position: absolute;
      width: 250px;
      height: 60px;
      left: 50%;
      top: 191px;
      transform: translateX(-50%);
      color: $white;
      font-size: 2rem;
      line-height: 55px;
      text-align: center;
      text-decoration: none;
      background-color: #6185CC;
      border-radius: 3rem;
    }
  }
}


.main-five > .wrap {
  width: 75%;
  margin: auto;
  position: relative;
  > .text {
   display: inline-block;
   border: 2px solid $black;
   width: 100%;
   padding: 10%;
   box-sizing: border-box;
   > h2 {
     font-size: 2rem;
     font-weight: 200;
     line-height: 0px;
   }
   > h1 {
     font-size: 4rem;
     font-weight: 400;
     line-height: 28px;
   }
   > h4 {
     font-size: 1.5rem;
     font-weight: 200;
     line-height: 0.5rem;
   }
   > .next {
    padding-top: 1rem;
  }
 }
 > .img {
   position: absolute;
   bottom: 100px;
   right: -100px;
   width: 600px;
   height: 600px;
   background-color: #EFEFEF;
   z-index: -1;
 }
}

.main-six {
  background-image: url("../img/pg_link_bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  > .wrap {
    width: 90%;
    margin: auto;
    > p {
      text-align: center;
      font-size: 3.5rem;
      font-weight: 100;
      padding: 100px;
    }
    > div {
      text-align: center;
      > .contents {
        display: inline-block;
        position: relative;
        width: 30%;
        padding: 80px 30px 80px 30px;
        margin: 1.5%;
        box-sizing: border-box;
        background-color: rgba(255, 255, 255, 0.4);
        border: 2px solid transparent;
        transition: all 1s;
        > .image {
          display: inline-block;
          vertical-align: bottom;
          position: absolute;
          height: 79px;
          left: 40px;
          margin-top: 39.5px;
          > img {
            position: absolute;
            top: 0;
            left: 0;
            transition: opacity 1s;
          }
          > .hover {
            opacity: 0;
          }
        }
        > .text {
          display: inline-block;
          margin-left: 120px;
          text-align: left;
          transition: all 1s;
          > .next {
           opacity: 0;
           transition: all 1s;
           position: absolute;
         }
         > h1 {
           font-size: 2.5rem;
           font-weight: 200;
         }
         > h2 {
           font-size: 1.2rem;
           font-weight: 100;
         }
        }
      }

      > .contents::before,
        .contents::after {
        position: absolute;
        content: '';
        border: 3px solid transparent;
        width: 0;
        height: 0;
        box-sizing: border-box;
      }
      > .contents::before {
        top: 0;
        left: 0;
      }
      > .contents::after {
        bottom: 0;
        right: 0;
      }
      > .contents:hover::before,
      .contents:hover::after {
        width: 100%;
        height: 100%;
      }
      > .contents:hover::before {
        border-top-color: $black;
        border-right-color: $black;
        transition: width .25s linear, height .25s linear .25s;
      }
      > .contents:hover::after {
        border-bottom-color: $black;
        border-left-color: $black;
        transition: border-color 0s linear .5s, width .25s linear .5s, height .25s linear .75s; }

    }
    > .contents:hover {
      background-color: $white;
      > .image > .hover {
        opacity: 1;
      }
      > .image > .not-hover {
        opacity: 0;
      }
      > .text {
       transform: translateY(-20px);
       > .next {
         opacity: 1;
       }
     }
    }

  }
}

.main-seven > .wrap {
  margin-bottom: 100px;
  > p {
    display: block;
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
  }
  > .contents {
    text-align: center;
    > div {
      width: 23%;
      margin-right: 1%;
      position: relative;
      display: inline-block;
      cursor: pointer;
      box-sizing: border-box;
      > .image {
        font-size: 0;
        overflow: hidden;
        transition: opacity 1s;
        text-align: center;
        > img {
          transition: transform 1s;
        }

      }
      > .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        transition: transform 1s;
        > h1 {
          color: $white;
          text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
          font-weight: 200;
          font-size: 2.5rem;
          line-height: 1rem;
        }
        > h2 {
         color: $white;
         text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
         font-weight: 100;
         font-size: 1.3rem;
       }
       > h4 {
         display: inline-block;
         font-weight: 100;
         font-size: 1rem;
         border-radius: 20px;
         background-color: rgba(120, 120, 120, 0.8);
         color: $white;
         padding: 10px 20px 10px 20px;
       }
      }
      &:hover {

        > .image > img {
        transform: scale(1.1);
      }
      > .text {
       transform: translateY(-20px);
     }
     > .image {
       opacity: 0.7;
     }
}
    }
  }
}

.main-eight {
  overflow: hidden;
  > .wrap {
    background-color: #F5F5F5;
    height: 400px;
    width: 100%;
    display: table;
    > * {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
    > h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
    > div {
      width: 250px;
      cursor: pointer;
      > .image {
        position: relative;
        width: 70px;
        height: 70px;
        margin: auto;
        > img {
          position: absolute;
          left: 0;
          transition: opacity 1s;
        }
        > .on {
          opacity: 0;
        }
        > .off {
          opacity: 1;
        }
      }
      &:hover > .image > .on {
        opacity: 1;
      }
      &:hover > .image > .off {
        opacity: 0;
      }
      &:hover > .text {
        color: #88A4DD;
      }
      > .text {
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 25px;
        transition: color 1s;
      }
    }
  }
}

footer {
  .footer-nav {
  background-color: #2B2B2B;
  color: #AAAAAA;
  text-align: center;
  padding: 1rem 0;
  a {
    color: #AAAAAA;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  > .contents {
    display: inline-block;
    font-size: 1.3rem;
    margin: 0;
    > a > p {
      border-left: 1px solid #AAAAAA;
      padding: 0 2rem 0 2rem;
      letter-spacing: 0px;
      word-spacing: -3px;
    }
    &:last-child > a > p {
      border-right: 1px solid #AAAAAA;
      padding: 0 50px 0 50px;
    }

  }
}
> .wrap {
  background-color: #222222;
  height: 250px;
  > .footer-contents {
    display: table;
    width: 75%;
    margin: auto;
    > .logo {
      display: table-cell;
      vertical-align: middle;
      height: 250px;
      > a {
        display: inline-block;
        font-size: 0;
        margin: 10px;
      }
    }
    > .exp {
     margin-top: 50px;
     font-weight: 100;
     > h4 {
       font-size: 1.5rem;
       color: #a0a0a0;
       > span {
        font-size: 2.2rem;
        color: #5E97DD;
        margin-left: 5px;
        margin-right: 5px;
      }
     }
     > h5 {
       font-size: 1rem;
       color: #636363;
       line-height: 0px;
       margin: 1rem 0 0 0;
       > button {
         background-color: transparent;
         border: 1px solid #636363;
         color: #636363;
         margin: 0 0 0 10px;
         padding: 5px;
         border-radius: 5px;
         cursor: pointer;
         font-size: 1rem;
         transition: background-color 1s;
         &:hover {
           background-color: rgba(255, 255, 255, 0.6);
         }
       }

     }
     > h6 {
       font-size: 1rem;
       color: #636363;
       line-height: 0px;
       margin: 20px 0 0 0;
     }
   }
  }
}
}

@media all and (max-width: 1367px) {

  html {
    font-size: 10px;
  }
  nav {

    > div.top-nav {
    width: auto;
    > div.wrap {
      width: 100%;
    }
  }
  .fixed-nav {
        width: 100%;
    > .wrap {
      width: auto;
      > .logo {
        padding: 0 40px;
        box-sizing: border-box;
      }
    }
    > .hover-nav > .wrap {
      width: 100%;
    }
  }
  }

  section {
     .main-one {
    padding: 0;
    > .wrap > .text {
      top: 7rem;
    }
  }
  #visual_prd {
    bottom: 2rem;
    height: 70%;
  }

}
.main-two {
  padding-top: 25px;
  padding-bottom: 25px;
  > .wrap h4 {
    padding: 0 0 25px 0;
  }
}
.main-three > .wrap {
  > .left {
    > h4 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 50px;
}
> h2 {
  font-size: 2.5rem;
  line-height: 2rem;
}
}
> .img {
 position: absolute;
 bottom: 10%;
 right: -12.5%;
 width: 50%;
 height: 50%;
 background-color: #EFEFEF;
 z-index: -1;
 > img {
   position: absolute;
   bottom: -10%;
   right: 30%;
   width: 70%;
 }
}
}

.main-six > .wrap {
  width: 100%;
  > div > .contents {
    margin: 1%;
    padding: 10px;
    > .image {
     display: block;
     position: absolute;
     text-align: center;
     width: 100%;
     height: 100px;
     top: 0;
     left: 0;
     > img {
       left: 50%;
       transform: translateX(-50%);
     }
   }
   > .text {
    margin-top: 150px;
    margin-left: 0;
    > h1 {
      font-size: 2.5rem;
      text-align: center;
    }
    > h2 {
     font-size: 1.5rem;
     text-align: center;
     margin-bottom: 100px;
   }
   > .next {
     font-size: 1rem;
     margin-top: -80px;
   }
  }
  }
}

.main-seven > .wrap > .contents > div{
  &:hover > .image > img {
    transform: scale(1.1) translate(-50%, -50%);
  }
 > .image {
  height: 400px;
  position: relative;
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
}

footer > .footer-nav > .contents {
   > a > p {
  padding: 0 15px 0 15px;
}
&:last-child > a > p {
  padding: 0 15px 0 15px;
}
> .logo {
  display: table-cell;
  width: 200px;
  vertical-align: middle;
  img {
    width: 100%;
  }
}
}
}

@media all and (max-width: 925px) {
  html {
    font-size: 10px;
  }
  nav {
    &.active > .fixed-nav > .wrap > .three-line {
      top: 32px;
    }
    > .fixed-nav {
      > .wrap {
      > .three-line > span {
      display: block;
    }
    > div:last-child {
      display: none;
    }
}
> .hover-nav > .wrap {
  > .gnb_banner {
  display: none;
}
> .items {
 width: 20%;
}
}
}
  }

  > .hover-nav > .wrap > .gnb_banner {
    display: none;
  }
  > .hover-nav > .wrap > .items {
    width: 20%;
  }

  .text-lr,
  .text-rl {
    writing-mode: unset;
  }
  section {

  > div.main-one > div.wrap > div.text {
    display: block;
    width: 100%;
    left: 0;
    top: 2rem;
    padding: 1rem 0;
  }
  > .main-one {
 padding: 0;
 > .wrap {
   > .img {
     > img:first-child {
     width: 100%;
   }
   > #visual_prd {
     height: 200px;
     bottom: 1rem;
   }
   }
   > .text {
   br {
   display: none;
 }
 > div.small {
   padding: 0.3rem 0;
 }
 > div.big {
   padding: 0.8rem 0;
 }
 > div.small,
   div.big {
   margin: 0;
   text-align: center;
   clear: both;
   display: block;
   width: 100%;
 }
}
}
}
}

section .main-three > .wrap {
   > .left {
  display: block;
  width: 100%;
  float: none;
  padding-top: 5rem;
  padding-left: 5rem;
  > h4 {
    margin-top: 50px;
  }
  > h2 {
    padding-bottom: 50px;
    margin-bottom: 0;
  }
}

> .right {
  width: 100%;
  float: none;
  padding-top: 20px;
}
> .exp {
 display: block;
 position: static;
 min-width: 100%;
 padding: 20px;
 > h2,
 h1 {
   display: inline-block;
   font-size: 3rem;
   padding-left: 2rem;
 }
 > .content-box {
   text-align: center;
   margin: 3rem 0 5rem 0;
 }
 > .next {
   margin-left: 2rem;
 }
}
}

.main-five > .wrap{
   > .img {
  position: absolute;
  bottom: 0%;
  right: -5%;
  width: 50%;
  height: 200px;
  background-color: #EFEFEF;
  z-index: -1;
  overflow: hidden;
  > img {
    position: absolute;
    bottom: -15%;
    right: 0%;
    width: 70%;
  }
}
> div > .contents {
  width: 95%;
  > .text{
    > h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 100px;
  }
}
}
}

.main-six > .wrap > div > .contents {
  width: 95%;
  > .text > h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  > .text > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 100px;
  }
}

.main-seven > .wrap{
      margin: 50px;
   > .contents > div {
  width: 48%;
  margin-right: 5px;
  margin-bottom: 5px;
  > .text {
        margin-bottom: 40px;
    > h1 {
   font-size: 3rem;
 }
 > h2 {
  font-size: 1.5rem;
}
> h4 {
  font-size: 1.3rem;
  margin: 0;
}

 }
 > .image > img {
   width: 100%;
 }
}
}

.main-eight > .wrap {
  display: block;
  padding-bottom: 50px;
  > h1 {
    display: block;
    width: 100%;
    padding-top: 50px;
  }
  > div {
    display: inline-block;
    width: 32%;
    box-sizing: border-box;
    font-size: 0;
  }
}
footer > .wrap > .footer-contents > .logo {
  display: none;
  }
}

@media all and (max-width: 639px) {
  html {
    font-size: 8px;
  }

  nav {
    > .fixed-nav{
       > .hover-nav.view {
    height: auto;
  }
  > .hover-nav > .wrap > .items {
   width: 100%;
   border-bottom: 1px solid gray;
   font-size: 1.5rem;
   &:last-child {
     border-bottom: 1px solid transparent;
   }
 }
  }
  .fixed-nav > .wrap > .logo {
    padding: 0 1rem;
    font-size: 0;
    > img {
      height: 100%;
    }
  }
  }

  section {
     .main-one > .wrap > .img {
    height: 100%;
    > #visual_prd {
      height: 100px;
      bottom: 0;
    }
  }
  > div.main-one > div.wrap > div.text {
    display: block;
    margin: 0;
    padding: 0;
    height: auto;
    > .small {
     font-size: 1.5rem;
     line-height: 1.5rem;
   }
   > .big {
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-top: 0.5rem;
    font-weight: bold;
  }
  }
}
.main-two {
  padding-top: 0;
  padding-bottom: 0;
  > .wrap{
     > div {
    width: 100%;
    margin: 10px 0;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding: 0;
    margin: 1rem 0;
  }
  h4 {
   font-size: 2rem;
   line-height: 2rem;
   padding: 0 0 0 0;
   margin: 0 0 2rem 0;
 }
}
}
.main-three {
  padding-bottom: 0;
  .wrap .exp > .content-box > .prd1 > div > span {
    display: inline-block;
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 1.4rem;
  }
}

.main-four .wrap {
  background: url("../img/main_onecare_bnr_mb.jpg") repeat-x center 0;
  height: 298px;
  position: relative;
  margin-bottom: 100px;
}

.main-five > .wrap > .text{
   > h2 {
  font-size: 2.2rem;
  font-weight: 200;
  line-height: 0px;
}
> h1 {
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 1rem;
}
> h4 {
  font-size: 2rem;
  font-weight: 200;
  line-height: 2rem;
  margin: 1rem 0;
}
}

.main-seven > .wrap > .contents > div {
  width: 100%;
  margin: 5px 0;
  > .image {
    width: 100%;
    height: 200px;
  }
}

footer > .wrap > .footer-contents {
  width: 95%;
  > .exp {
    > h4 {
    line-height: 1.5rem;
  }
  > h5 {
    line-height: 1rem;
  }
  > h6 {
   line-height: 1rem;
 }
}
}

}
